%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!1001 &7594267971606219818
PrefabInstance:
  m_ObjectHideFlags: 0
  serializedVersion: 2
  m_Modification:
    m_TransformParent: {fileID: 0}
    m_Modifications:
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_RootOrder
      value: 0
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalPosition.x
      value: -10.18
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalPosition.y
      value: -6.454
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalPosition.z
      value: -20.13
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalRotation.w
      value: -0.019090386
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalRotation.x
      value: -0
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalRotation.y
      value: -0.9998178
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalRotation.z
      value: -0
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalEulerAnglesHint.x
      value: 0
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalEulerAnglesHint.y
      value: 177.812
      objectReference: {fileID: 0}
    - target: {fileID: -8679921383154817045, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_LocalEulerAnglesHint.z
      value: 0
      objectReference: {fileID: 0}
    - target: {fileID: -8431862627509605618, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: -7360301020319576020, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: -6418813421625326230, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: -5238631105550655005, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: -3184319232522698018, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: 140832699507855776, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: 919132149155446097, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Name
      value: Env_Bar_AlcoholDistiller_01 Variant
      objectReference: {fileID: 0}
    - target: {fileID: 2702365763295306382, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: 3995340869109753727, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: 7090779639885981041, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    - target: {fileID: 8478906001134729930, guid: fc866952818d5f34590ac4f8ed7d63cd,
        type: 3}
      propertyPath: m_Materials.Array.data[0]
      value: 
      objectReference: {fileID: 2100000, guid: 0cc5da8e22a202649b8067cce5331db8, type: 2}
    m_RemovedComponents: []
  m_SourcePrefab: {fileID: 100100000, guid: fc866952818d5f34590ac4f8ed7d63cd, type: 3}
